[title] {
    color: brown;
}

[title="Main page"] {
    font-size: 32px;
}

[title~="Container"] {
    background-color: aqua;
}

[title*="tion"] {
    background-color: yellow;
}

[title^="More"] {
    background-color: red;
}

[title$="skills"] {
    background-color: green;
}

li[title] {
    font-size: 50px;
}